    <div class="row" style="margin-bottom:250px">
        <div style="height: 200px; width:48%; float:left ">
            <canvas id="myChart0"></canvas>
        </div>
        <div style="height: 200px; width:48%; float:right ">
            <canvas id="myChart1"></canvas>
        </div>
    </div>
    <div class="row" style="margin-bottom:250px">
        <div style="height: 200px; width:48%; float:left ">
            <canvas id="myChart2"></canvas>
        </div>
        <div style="height: 200px; width:48%; float:right ">
            <canvas id="myChart3"></canvas>
        </div>
    </div>
    <div class="row" style="margin-bottom:250px">
        <div style="height: 200px; width:48%; float:left ">
            <canvas id="myChart4"></canvas>
        </div>
        <div style="height: 200px; width:48%; float:right ">
            <canvas id="myChart5"></canvas>
        </div>
    </div>
<div class="row" style="margin-bottom:250px">
    <div>
        <canvas style="height: 200px; width:48%;" id="myChart6"></canvas>
    </div>
    <div style="text-align:center">
        <p>Regular insulin dose</p>
    </div>
</div>
<div ng-show="waitUsers">
    <div class="loader">
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>
</div>
