<div style="width: 400px; height: 400px" ng-show="!waitUsers">
  <canvas id="myChart0" style="width: 400px; height: 400px"></canvas>
  <canvas id="myChart1" style="width: 400px; height: 400px"></canvas>
  <canvas id="myChart2" style="width: 400px; height: 400px"></canvas>
  <canvas id="myChart3" style="width: 400px; height: 400px"></canvas>
  <canvas id="myChart4" style="width: 400px; height: 400px"></canvas>
  <canvas id="myChart5" style="width: 400px; height: 400px"></canvas>
</div>
<div ng-show="waitUsers">
    <div class="loader">
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>
</div>